<div class="content">
  <nz-card [nzBordered]="false" nzTitle="用户管理" [nzExtra]="extraTemplate">
      <nz-table  style="height:calc(100vh - 240px)"  #basicTable [nzData]="listOfData" [nzScroll]="{y:'500px'}">
        <thead>
        <tr>
          <th nzWidth="80px">用户名</th>
          <th nzWidth="80px">权限</th>
          <th nzWidth="80px">部门</th>
          <th nzWidth="80px">年纪</th>
          <th nzWidth="80px">id</th>
          <th nzWidth="150px">修改</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.username }}</td>
          <td>{{ data.role }}</td>
          <td>{{ data.age }}</td>
          <td >{{data._id}}</td>
          <td>
            <a> {{ data.breed }}</a>
          </td>

          <td>
            <a (click)="editUser()">修改</a>
          </td>
        </tr>
        </tbody>
      </nz-table>
    <ng-template #extraTemplate>
      <a>More</a>
    </ng-template>
  </nz-card>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="编辑" (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()" [nzOkDisabled]="!form.form.valid">
  <form nz-form #form="ngForm">

  </form>
</nz-modal>
